.swiper{
    width: 100% !important;
    margin-top: 60px;
}

.Testimonial{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 25px;
    background-color: var(--bg-card);
    border-radius: 12px;
}

.TestimonialWrapper{
    color: var(--text-color);
    gap: 18px;
    background-color: var(--bg-color);
}

.TestimonialWrapper .pera{
    width: 60%;
    margin-bottom: 30px;
}

.TestimonialWrapper h2{
    font-size: 38px;
}

.profile{
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.profile h3{
    font-size: 26px;
}

.profile h3 span{
    display: block;
    font-size: 17px;
    font-weight: 300;
}

.quote{
    position: absolute;
    top: 14px;
    right: 35%;
}

.user{
    width: 120px;
    height: 80px;
}

.Testimonial p{
    font-size: 20px;
    width: 100%;
}

@media screen and (max-width: 1400px){
    .quote{
        right: 25%;
    }
}

@media screen and (max-width: 768px){
    .TestimonialWrapper .pera{
        width: 100%;
    }
    .TestimonialWrapper h2{
        font-size: 32px;
    }
}